@{ Layout = null; }
@model CoreEnt.Models.tblContact
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


</style>
</head>
<body>
    

<form  style="border:1px solid #ccc" method="Post">
  <div class="container">
    <a class="btn btn-primary" asp-area="" asp-controller="Contact" asp-action="Index">View</a>
    <h1>Contact</h1>    
    <hr />
      @Html.HiddenFor(c=>c.ContactId)
    <label for="UserName"><b>User Name</b></label>
     @Html.EditorFor(c=>c.Name, new { required = "required", @class="form-control" }) 

    <label for="Email"><b>Email</b></label>
     @Html.EditorFor(c=>c.Email, new { required = "required", type="email" , @class="form-control" }) 


    <label for="Contact"><b>Contact</b></label>
     @Html.EditorFor(c=>c.Contact , new { required = "required", @class="form-control" }) 

    <label for="Address"><b>Address</b></label>
     @Html.EditorFor(c=>c.Address , new { required = "required", @class="form-control" }) 

    <div class="clearfix">
      <button type="submit" class="signupbtn">Save</button>
    </div>
  </div>
</form>
</body>
</html>
